* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color:#A60A6C;
    height: 80px;    
}

nav{
    display: flex;
    justify-content: space-between;
}

.links{
    margin-top: 30px;
}

.links a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); /* Aplicar el efecto de difuminado */   
}

.links a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: #2c001b;

}

.logo{
    margin-top: 2px;
    margin-left: 30px;
}

.sector{
    margin:100px;
    margin-top: 100px;
    text-align: center;
}

.sector a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    background-color: #154472;
    color: rgb(255, 255, 255);
    padding: 30px; 
}

.sector a:hover{
    background-color: #8aadcf;
    color: #154472;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px);
}


#carouselExampleControlsNoTouching{
    padding: 50px;
}

.nosotros, .novedades{
    background-color: #A60A6C;
    margin: 50px;
}

.nosotros h3, .novedades h3{
    color: #ffffff;
    text-align: center;
    padding-top: 30px;

}

.nosotros p, .novedades .linea{
    text-align: center;
    color: #ffffff;
}

.noticias{
    background-color: #ffffff;   
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

footer{
    height: 400px;
    background-color: #565656;
}
footer .derechos{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

footer .derechos a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

footer .derechos a:hover{
    color: #001020;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tres columnas de igual tamaño */
}
.grid{
    color: rgb(255, 255, 255);
    margin-left: 260px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 10px; /* Espacio entre los elementos */
}

.item {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

.info{
    margin-left: -60px;
    font-weight: normal;
    font-size: 17px;
}
.redes{
    margin-left: -40px;
}

.mapa{
   margin-left: -105px;
}
.novedades{
    width: 80%;
}
.noticias{

}

/* ----------------- LOGIN INICIO -------------------- */
/* .body{
    background-color: #A60A6C;
} */
.form-login{
    background-color:#A60A6C;
    width: 40%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 8px rgb(182, 182, 182);
}

.form-login img{
    display: inline-block;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
}
.form-login:hover{
    scale: 1.1;
}

.form-login form{
    width: 100%;   
    margin-top: 20px;
}
.form-login form .casilleros{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 40px;
    color: #ffffff;
    font-weight: bold;
}

.casilleros input{
    background: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    outline:none;
    font-size: 17px;
    color:#154472;
    margin-left: 5px;
    width: 120%;
    
}

input::placeholder{
    color:#bbc7d3;
}

.botonusuario, .linkusuario{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.botonusuario input{ 
    background-color:#154472;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

.botonusuario input:hover{
    color: #154472;
    background-color:#a2c9f0;
    scale: 1.1;
}

.linkusuario{
    font-size: 15px;
    text-align: center;  
}

.linkusuario, a{
    color: #b1bfce;
    
}

.linkusuario a:hover{
  color: #ffffff;
}
