* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color:#A60A6C;
    height: 80px;    
}

nav{
    display: flex;
    justify-content: space-between;
}

.links{
    margin-top: 30px;
}

.links a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); /* Aplicar el efecto de difuminado */   
}

.links a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: #2c001b;

}

.logo{
    margin-top: 2px;
    margin-left: 30px;
}

.sector{
    margin:100px;
    margin-top: 100px;
    text-align: center;
}

.sector a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    background-color: #154472;
    color: rgb(255, 255, 255);
    padding: 30px; 
}

.sector a:hover{
    background-color: #8aadcf;
    color: #154472;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(5px);
}


#carouselExampleControlsNoTouching{
    padding: 50px;
}

.nosotros, .novedades{
    background-color: #A60A6C;
    margin: 50px;
}

.nosotros h3, .novedades h3{
    color: #ffffff;
    text-align: center;
    padding-top: 30px;

}

.nosotros p, .novedades .linea{
    text-align: center;
    color: #ffffff;
}

.noticias{
    background-color: #ffffff;   
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

.noticias img{
    display: flex;
    margin: auto;
}

footer{
    margin-top: 5%;
    height: 400px;
    background-color: #565656;
}
footer .derechos{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

footer .derechos a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

footer .derechos a:hover{
    color: #001020;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
}
.grid{
    color: rgb(255, 255, 255);
    margin-left: 260px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
}

.item {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

.info{
    margin-left: -60px;
    font-weight: normal;
    font-size: 17px;
}
.redes{
    margin-left: -40px;
}

.mapa{
   margin-left: -105px;
}
.novedades{
    margin: auto;
    justify-content: center;
    width: 90%;
}

.body {
    height: 100vh;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-color: #ffffff;
}

.form-login {
    display: flex;
    width: 400px;
    height: auto;
    overflow: hidden;
    margin: auto;
    background: #A60A6C; /* Fondo blanco para el formulario */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Ocupa la otra mitad del ancho */
    padding: 30px;
    flex-direction: column;
    border-radius: 12px;
}
.form-logo{
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0px;
}
.casilleros {
    margin-bottom: 15px;
}

.casilleros input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 17px;
}

.botonusuario {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    background-color: #690242; /* Color de fondo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

.botonusuario:hover {
    background-color: #154472; /* Color al pasar el ratón */
}

.linkusuario {
    margin-top: 20px;
    text-align: center; /* Centra el texto */
    color: white;

}
.linkusuario p{
    margin-bottom: 5px;
}
.linkusuario a {
    color: #a7d1fd; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.linkusuario a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

.bienvenidoAdmin{
    display:inline-flex;
    margin: auto;
    font-size: 10px;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #673f69;
}

.custom-icon {
    font-size: 25px;
    margin-right: 20px;
}


.gestion{
    display: flex;
    margin: auto;
    width: 100%;
}

.horarios, .alumnos{
    display: flex;
    margin: auto;
    border-radius: 5px;
    background-color: #eee6ee;
}

.horarios a, .alumnos a{
    padding: 100px;
    color: #673f69;
    font-size: 17px;
    font-weight: bold;
}

.horarios a:hover, .alumnos a:hover{
    background-color: #ceafcf;
}

